#mainWrapper {
  background-color: #84c1e4;
 
}

input:focus,
button:focus {
  border: 1px solid #1064d7;
  box-shadow: none !important;
}

#loginWrapper {
  background: white;
  height: fit-content;
}

