.t1 {
  border: 2px solid red;
}

.navbar-custom {
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  position: sticky;
  top: 0;
}

.admin-profie {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #3f8cbb;
  color: white;
}
