@import './../../../../../assets/variables/variables';

.container-fluid {
  background-color: $footer-background;
}

.card {
  background-color: $footer-background;
  border: none;
  color: white;
  padding: 0;
  // min-height: 100px;
}
//Code modification start here

.card-body {
  ul {
    list-style: none;

    li {
      padding: 5px 10px;

      a {
        text-decoration: none;
        color: gray;
        font-style: italic;
        padding: 10px 0px;

        i {
          font-size: 1.5em;
        }
      }
      :hover {
        color: white;
      }
    }
  }
}

.main-footer {
  border-top: 1px solid gray;
  padding: 0.6em;
  color: gray;
  font-style: italic;
}


// @media screen and (max-width : 767px) {
//     .card {
//        text-align: center;
//     }

// }

@media screen and (max-width : 576px) {
    .card{
       text-align: center;
    }
    
    #socilIcon {
      display: flex;
      justify-items: center;
      justify-content: center;
    }
}