<footer>
    <div class="container-fluid">
        <div class="row p-3">
            <div class="col-12 col-sm-6  col-md-3">
                <div class="card">
                    <div class="card-body">
                    <h6 class="card-title ms-2"> Our Services</h6>
                    <ul class="m-0 p-0">
                        <li><a href="">Exam Courses </a></li>
                        <li><a href="">Mock Test </a></li>
                        <li><a href="">More </a></li>    
                    </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6  col-md-3">
                <div class="card">
                    <div class="card-body">
                    <h6 class="card-title ms-2">About Us</h6>
                    <ul class="m-0 p-0">
                        <li><a href="">Overview</a></li>
                        <li><a href="">Vision</a></li>
                        <li><a href="">Mission</a></li>
                    </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6  col-md-3 ">
                <div class="card">
                    <div class="card-body">
                    <h6 class="card-title ms-2">Supports</h6>
                    <ul class="m-0 p-0">
                        <li><a href="">Email Us</a></li>
                        <li><a href="">Call Us</a></li>
                        <li><a href="">What'sApp Us</a></li>
                    </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6  col-md-3">
                <div class="card">
                    <div class="card-body">
                    <h6 class="card-title ms-2">Get In Touch</h6>
                    <ul class="m-0 p-0 d-flex flex-wrap" id="socilIcon">
                        <li><a href=""><i class="fab fa-facebook-square"></i> </a></li>
                        <li><a href=""><i class="fab fa-twitter-square"></i> </a></li>
                        <li><a href=""><i class="fab fa-linkedin"></i></a></li>
                        <li><a href=""><i class="fab fa-youtube-square"></i> </a></li>
                        <li><a href=""><i class="fab fa-instagram"></i> </a></li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row py-3">
            <div class="col">
                <div class="main-footer text-center">
                    <p>&#169; All right are reserved | MockTrack.com. </p>
                </div>
            </div>
        </div>
    </div>
</footer>