<nav class="navbar navbar-expand-lg navbar-light shadow">
  <div class="container-fluid">
    <a class="navbar-brand img-fluid" href="#">
      <img
        src="./../../../../../assets/images/logo.png"
        alt="logo"
        width="180"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasExample"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-custom-icon">
        <i class="fas fa-bars"></i>
      </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0" *ngIf="!isLoggedInUser">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#" title="Home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="" title="Login" routerLink="/auth/login"
            >Login</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href=""
            title="Register"
            routerLink="/auth/register"
            >Register</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" title="Shop">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" title="Notice">Notice</a>
        </li>
      </ul> 

      <!-- If user is logged in then show this nav bar -->

      <ul class="navbar-nav mx-auto mb-2 mb-lg-0" *ngIf="isLoggedInUser">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#" title="Guidelines"
            >Guidelines</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="" title="Learn"
            >Learn</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href=""
            title="Test"
            >Test</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" title="Track">Track</a>
        </li>
      </ul>

      <div class="ms-auto">
        <div class="dropdown d-flex" *ngIf="isLoggedInUser">
          <button
            class="btn btn-secondary dropdown-toggle logged-user"
            type="button"
            id="dropdownMenuButton1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <span
              ><img
                src="./../../../../../assets/images/user.png"
                alt=""
                width="22"
            /></span>
          </button>
         

          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="dropdownMenuButton1"
          >
            <li>
              <a class="dropdown-item" href="#">
                Log In As : <strong>{{ this.loggedUsername }}</strong></a
              >
            </li>
            <hr />
            <li><a class="dropdown-item" href="#">Setting</a></li>
            <li><a class="dropdown-item" href="#">Activity</a></li>
            <hr />
            <li>
              <a class="dropdown-item" href="#" (click)="logout()">Logout</a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>

  <!--################# Offanvas Element for Responsive Screen  ##########3-->
  <div
    class="offcanvas offcanvas-start shadow"
    tabindex="-1"
    id="offcanvasExample"
    aria-labelledby="offcanvasExampleLabel"
  >
    <div class="offcanvas-header">
      <button
        type="button"
        class="btn-close text-reset ms-auto"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      ></button>
    </div>
    <div class="offcanvas-body">
      <ul>
        <li>
          <a href=""><i class="fas fa-home"></i>Home</a>
        </li>
        <li>
          <a href=""><i class="fas fa-lock"></i>Login</a>
        </li>
        <li>
          <a href=""><i class="fas fa-user-plus"></i>Register</a>
        </li>
        <li>
          <a href=""><i class="fas fa-shopping-basket"></i>Shop</a>
        </li>
        <li>
          <a href=""><i class="fas fa-id-card-alt"></i>Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
