<app-admin-navbar></app-admin-navbar>
<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-md-2">
     
        <div class="sidebar  py-5 collapse navbar-collapse d-md-block">
         <ul class="menu">
            <li class="active"><a href=""><i class="fas fa-tachometer-alt "></i>Dashboard</a></li>
            <li><a href=""><i class="fas fa-user-graduate"></i>Quiz</a></li>
            <li><a href=""><i class="fa fa-question-circle"></i>Question</a></li>
            <li><a href=""><i class="fa fa-list-alt" ></i>Category</a></li>
            <li><a href=""><i class="fas fa-poll"></i>Result</a></li>
          </ul>
      </div>

    </div>
    <div class="col-md-9 content-area py-5 ms-2">
        main content area
    </div>
  </div>
</div>